.notes-section {
    display: flex;
    flex-grow: 1; /* Grow to fill the available space */
    flex-direction: column; /* Stack notes vertically */
    align-items: center; /* Center notes horizontally */
    padding: 50px;
    width: 100%
  }
  
  .notes-container-add-note {
    position: relative;
    display: flex;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if there's enough space */
    width: 100%; /* Or a fixed width, depending on your design */
    padding: 20px
  }

.notes-container-item {
    display: flex;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if there's enough space */
    width: 100%;
    padding: 20px;
  }